.splash-title {    
    position: relative;
    z-index: 2;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    padding: 30px 24px;

    color: #e8ffd8;
    text-align: center;
    padding-right:30px;
    display: flex;
    justify-content: center;
}

@media (max-width: 950px) {
    .splash-title {
        font-size: 1.2em;
    }
}